@import url('fonts/satoshi.css');
@import url('fonts/clash-grotesk.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

/* responsive font */
.h1 {
    @apply text-5xl md:text-8xl 2xl:text-9xl; 
}

.h2 {
    @apply text-4xl md:text-7xl 2xl:text-8xl;
}

.h3 {
    @apply text-3xl md:text-6xl 2xl:text-7xl;
}

.h4 {
    @apply text-2xl md:text-5xl 2xl:text-6xl;
}

.h5 {
    @apply text-xl md:text-4xl 2xl:text-5xl;
}

.h6 {
    @apply text-lg md:text-3xl 2xl:text-4xl;
}

.h7 {
    @apply text-base md:text-2xl 2xl:text-3xl;
}

.h8 {
    @apply text-base md:text-xl 2xl:text-2xl;
}

.p {
    @apply text-base md:text-lg 2xl:text-xl;
}

.m1 {
    @apply max-sm:text-xl;
}

.m2 {
    @apply max-sm:text-lg;
}

.m3 {
    @apply max-sm:text-[12px]
}

.m4 {
    @apply max-sm:text-[10px];
}

.m5 {
    @apply max-sm:text-[8px];
}

.responsivePad {
    @apply 2xl:px-[320px] xl:px-[200px] lg:px-[120px] md:px-[96px] sm:px-[64px] max-sm:px-[16px];
}

.fade-in {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    }

.fade-in.active {
    opacity: 1;
}

.navbar {
    position: relative; 
    z-index: 999; 
}
  
.hero-wrapper {
  position: relative; 
  z-index: 1; 
}
  
.topbar {
  position: relative; 
  z-index: 1000; 
}